<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign language convertor</title>
    <title>Text To Speech |VICTORY TTS </title>
    <link rel="stylesheet" href="xxx.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--css-->
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--boxicons css-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <div>
					{% if error %}
					<div class="text-red-700 px-3 py-2 border flex justify-between border-red-400 rounded relative bg-red-100" id="alert">
						<p class="px-2">{{ error }}</p>
					</div>
					  {% endif %}
				</div>
                <form action="/loginData" method="POST">
                    <div class="field input-feid">
                        <input type="email" placeholder="Email" class="input" name="email">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" name="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass"> Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button>Login</button>
                    </div>

                </form>

                <div class="form-link">
                    <span> not a member yet? <a href="#" class="link Signup-link"> Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="static/images/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>

        </div>

        <!--signup form-->

        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form action="#">
                    <div class="field input-feid">
                        <input type="email" placeholder="Email" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Retype Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button>Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="static/images/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>



        </div>
    </section>

    <!--javascript-->
    <script src="static/index.js"></script>
</body>

</html>